*{
    text-align: center;
}
.container {
    width: 750px;
    height: 600px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50px;
    border-width: thick;
}
.container .heading{
    width: 600px;
    height: 122px;
    border: 2px solid #4a877b;
    background-color: silver;
    border-radius: 12px 44px;
    border-width: thick;
}
.container h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xxx-large;
    color: crimson;
}
.container p{
    font-family:  'Trebuchet MS', sans-serif;
}
